<!DOCTYPE html>
<html lang="es-UY">
  <head>
    <title>¡Acá Vamos!</title>
    <meta charset="utf8">
    <meta name="cloudmade-api-key" content="<%= API_KEY %>">
    <link href="http://fonts.googleapis.com/css?family=Arvo:bold&subset=latin" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>¡Acá Vamos!</h1>
    </header>

    <section id="search">
      <form action="/geocode" method="get">
        <p><label for="address">Buscá una dirección en Montevideo:</label></p>
        <p>
          <input autofocus autocomplete="off" type="text" name="address" id="address" value="<%= address %>">
          <button type="submit">Buscar</button>
        </p>
      </form>
    </section>

    <section id="results">
      <% if results.exact_match? %>
        <dl>
          <dt>Latitud:</dt>
          <dd><%= results.latitude %>&deg;N</dd>
          <dt>Longitud:</dt>
          <dd><%= results.longitude %>&deg;E</dd>
        </dl>

        <img id="static-map" class="map"
          src="<%= Geocoder.map(results.latitude, results.longitude, "977x272") %>"
          data-latitude="<%= results.latitude %>"
          data-longitude="<%= results.longitude %>"
          data-address="<%= address %>"
          alt="Map for <%= address %>">
      <% elsif results.any? %>
        <p class="error">Múltiples resultados para "<%= address %>"</p>
        <ul id="multiple-choices">
          <% results.expanded.each do |result| %>
            <li><%= link result.address, address_url(result) %></li>
          <% end %>
        </ul>
      <% elsif address && address.size > 0 %>
        <p class="error">No encontramos la dirección "<%= address %>".</p>
      <% end %>
    </section>

    <section id="api-docs">
      <h2>Herramientas</h2>

      <div>
        <h3>API en JSON</h3>

        <p>Accede a esta página con el header <code>Accept: application/json</code>
          para obtener la respuesta en JSON. Por ejemplo:</p>

        <pre>$ curl -H "Accept: application/json" -G "http://<%= env["HTTP_HOST"] %>/geocode?address=Juan+Carlos+Gómez+1362"
  {
    "response_code": "200",
    "results": [{
      "latitude":      -34.9066,
      "longitude":     -56.20291,
      "addresses":     ["Juan Carlos Gómez 1362"]
    }]
  }</pre>

        <p>Cuando se encuentre la dirección en la base de datos el API retornará
          <strong><code>response_code: 200</code></strong>. Si la dirección no se
          encuentra, entonces se retornará <strong><code>response_code:
          404</code></strong> (y una lista vacía de <code>results</code>.)</p>

        <p>La lista <code>addresses</code> contiene un listado de todos los
          padrones cuyo centroide se situe en esas coordenadas.</p>

        <p>Si los datos son ambiguos, y se encuentran muchos puntos con una dirección
          similar a la provista, se retornará <strong><code>response_code: 300</code></strong>,
          y varios valores en la lista <code>results</code>. Por ejemplo:</p>

        <pre>$ curl -H "Accept: application/json" -G "http://<%= env["HTTP_HOST"] %>/geocode?address=18+de+julio+1360"
  {
    "response_code": "300",
    "results": [{
      "latitude":  -34.90282,
      "longitude": -56.1869,
      "addresses": ["Avenida Uruguay 1360", "Avenida Uruguay 1364"]
    }, {
      "latitude":  -34.9057,
      "longitude": -56.18617,
      "addresses": ["Avenida 18 de Julio 1360", "Avenida 18 de Julio 1374", "Avenida 18 de Julio 1384"]
    }]
  }</pre>

        <h3>Mapas Embebibles</h3>

        <p class="overview">Accede a la URL <code><%= link "http://#{env["HTTP_HOST"]}/geocode?address=Juan+Carlos+Gómez+1362" %></code>
          para obtener el mapa como imagen estática.</p>

        <p>Si la dirección es ambigua (<code>response_code: 300</code> en el API
          JSON) se retornará un cuerpo vacío con un código HTTP 300. Si la dirección
          no se encuentra en la base de datos, se retornará un cuerpo vacío con
          un código HTTP 404.</p>

        <p>Puedes configurar el mapa con los siguientes parámetros en la URL:</p>
        <dl>
          <dt><code>size</code></dt>
          <dd>
            <p>Una cadena de la forma <code>ANCHOxLARGO</code>, por ejemplo <code>size=500x600</code>.</p>
            <p>Si solo especificas un valor, la imagen será cuadrada:
              <code>size=340</code></p>
            <p>Ejemplo: <code><%= link "http://#{env["HTTP_HOST"]}/geocode/map.png?address=Juan+Carlos+Gómez+1362&size=500x600" %></code></p>
            <p><em>Valor por omisión:</em> <code>400x300</code></p>
          </dd>

          <dt><code>zoom</code></dt>
          <dd>
            <p>Un número entre <code>1</code> y <code>18</code>, por ejemplo <code>zoom=13</code>.</p>
            <p>Ejemplo: <code><%= link "http://#{env["HTTP_HOST"]}/geocode/map.png?address=Juan+Carlos+Gómez+1362&zoom=13" %></code></p>
            <p><em>Valor por omisión:</em> <code>16</code></p>
          </dd>
        </dl>
      </div>
    </section>

    <footer>
      <address>
        <a href="http://cuboxsa.com"><span>Hecho por </span><img src="/img/cubox.png" width="106" height="40" alt="Cubox" title="Cubox"></a>
        <a href="http://openstreetmap.org"><img src="/img/osm.png" width="40" height="40" title="OpenStreetMap" alt="OpenStreetMap"><span> provee los datos</span></a>
      </address>
      <p class="oss">El código de esta aplicación es abierto: <a href="http://github.com/cubox/geocoder-montevideo">obtenlo aquí</a>.</p>
    </footer>

    <script src="http://tile.cloudmade.com/wml/0.2/web-maps-lite.js"></script>
    <script src="/js/libraries.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
