<!DOCTYPE html>
<html lang="es-UY">
  <head>
    <title>Geocoding Montevideo</title>
    <meta charset="utf8">
    <meta name="cloudmade-api-key" content="<%= API_KEY %>">
    <link href="http://fonts.googleapis.com/css?family=Arvo:bold&subset=latin" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Geocoding Montevideo</h1>
    </header>

    <section id="search">
      <form action="/geocode" method="get">
        <p><label for="address">Busca una dirección en Montevideo:</label></p>
        <p>
          <input autofocus autocomplete="off" type="text" name="address" id="address" value="<%= address %>">
          <button type="submit">Buscar</button>
        </p>
      </form>
    </section>

    <section id="results">
      <% if lat_long.exact_match? %>
        <dl>
          <dt>Latitud:</dt>
          <dd><%= lat_long.latitude %>&deg;N</dd>
          <dt>Longitud:</dt>
          <dd><%= lat_long.longitude %>&deg;E</dd>
        </dl>

        <img id="static-map" class="map"
          src="<%= Geocoder.map(lat_long.latitude, lat_long.longitude) %>"
          data-latitude="<%= lat_long.latitude %>"
          data-longitude="<%= lat_long.longitude %>"
          data-address="<%= address %>">
      <% elsif address && address.size > 0 %>
        <p class="error">No encontramos la dirección "<%= address %>".</p>
      <% end %>
    </section>

    <section id="api-docs">
      <h2>Herramientas para desarrolladores</h2>

      <div>
        <p>Accede a esta página con el header <code>Accept: application/json</code>
          para obtener la respuesta en JSON. Por ejemplo:</p>

        <pre>$ curl -H "Accept: application/json" -G "http://<%= env["HTTP_HOST"] %>/geocode?address=18+de+julio+1860"
    { "response_code": "200",
      "latitude":      -34.90204,
      "longitude":     -56.17594,
      "address":       "18 de julio 1860" }</pre>

        <p>Cuando se encuentre la dirección en la base de datos el API retornará
          <strong><code>response_code: 200</code></strong>. Si la dirección no se
          encuentra, entonces se retornará <strong><code>response_code:
          404</code></strong>
      </div>
    </section>

    <footer>
      <address>
        <a href="http://cuboxsa.com"><span>Hecho por </span><img src="/img/cubox.png" width="106" height="40" alt="Cubox" title="Cubox"></a>
        <a href="http://openstreetmap.org"><img src="/img/osm.png" width="40" height="40" title="OpenStreetMap" alt="OpenStreetMap"><span> provee los datos</span></a>
      </address>
      <p class="oss">El código de esta aplicación es abierto: <a href="http://github.com/cubox/geocoder-montevideo">obtenlo aquí</a>.</p>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/js/jquery.autocomplete.js"></script>
    <script>
      jQuery(function($) {
        $("#address").autocomplete("/streets.txt");

        var apiDocs = $("#api-docs h2 + *").hide();
        $("#api-docs h2").css({ cursor: "pointer", textDecoration: "underline" }).click(function() {
          apiDocs.toggle();
        });

      });
    </script>

    <% if lat_long.exact_match? %>
      <script src="http://tile.cloudmade.com/wml/0.2/web-maps-lite.js"></script>
      <script>
        jQuery(function($) {
          var CLOUDMADE_API_KEY = $("meta[name=cloudmade-api-key]").attr("content");

          var isStatic   = true,
              staticMap  = $("#static-map"),
              dynamicMap = $("<div id='dynamic-map' class='map'></div>"),
              latitude   = staticMap.data("latitude"),
              longitude  = staticMap.data("longitude"),
              address    = staticMap.data("address"),
              link       = $("<a href='#' class='toggle-map'>Mapa interactivo</a>");

          staticMap.before(link).before(dynamicMap.hide());

          var map = new CM.Map('dynamic-map', new CM.Tiles.CloudMade.Web({ key: CLOUDMADE_API_KEY })),
              mapLocation = new CM.LatLng(latitude, longitude),
              marker = new CM.Marker(mapLocation, { title: address });

          map.setCenter(mapLocation, 16);
          map.addOverlay(marker);
          map.panBy(new CM.Size(-dynamicMap.width() / 2, -dynamicMap.height() / 2));

          map.addControl(new CM.SmallMapControl());
          map.addControl(new CM.PermalinkControl());
          map.addControl(new CM.ScaleControl());
          map.enableMouseZoom();

          link.click(function(event) {
            isStatic = !isStatic;
            link.text(isStatic ? "Mapa interactivo" : "Mapa estático");

            staticMap.toggle();
            dynamicMap.toggle();

            if (!isStatic) {
              // force load the map tiles. Sometimes when switching they are
              // "unloaded" until you pan, so...
              map.panBy(new CM.Size(1, 1));
              map.panBy(new CM.Size(-1, -1));
            }

            event.preventDefault();
          });
        });
      </script>
    <% end %>
  </body>
</html>
